@media screen and (min-width: 900px) {
  .nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 0 3vw;
  }
  .head {
    font-weight: 600;
    font-size: 17px;
    color: rgb(255, 234, 234);
  }
  .icon1 {
    font-size: 20px;
    margin: 0 6px;
    color: rgb(254, 248, 243);
  }
  .icon2 {
    font-size: 20px;
    margin-left: 35px;
    color: rgb(255, 234, 234);
  }
  .icon1:hover,
  .icon2:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 0 3vw;
  }
  .head {
    font-weight: 600;
    font-size: 17px;
    color: rgb(211, 153, 153);
  }
  .icon1 {
    font-size: 20px;
    margin: 0 6px;
    color: rgb(248, 229, 214);
  }
  .icon2 {
    font-size: 20px;
    margin-left: 35px;
    color: rgb(211, 153, 153);
  }
  .icon1:hover,
  .icon2:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 520px) {
  .nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 0 3vw;
  }
  .head {
    font-weight: 700;
    font-size: 18px;
    color: rgb(232, 194, 194);
  }
  .icon1 {
    font-size: 20px;
    margin: 0 5px;
    color: rgb(248, 229, 214);
  }
  .icon2 {
    font-size: 20px;
    margin-left: 15px;
    color: rgb(232, 194, 194);
  }
  .icon1:hover,
  .icon2:hover {
    cursor: pointer;
  }
}
